.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px;
    background-color: black;
    box-sizing: border-box;
    border-bottom: var(--tema-visual) 2px solid;
}

.btn-menu {
    display: none;
    font-size: 30px;
    background-color: var(--backgroung-header);
    border: none;
    color: var(--text-header);
    cursor: pointer;

    div {
        display: none;
    }
}

.contenedor-imagen .img {
    width: 106px;
    height: auto;
    object-fit: fill;
    border-radius: 1rem;
}

.contenedor-navegador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    flex: 1;
}

.link {
    font-family: orbitron;
    font-size: 30px;
    color: white;
    text-shadow:
        0 0 5px var(--tema-visual),
        0 0 10px var(--tema-visual),
        0 0 20px var(--tema-visual),
        0 0 40px var(--tema-visual);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: var(--tema-visual);
        text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 20px white,
        0 0 40px white;
}

.activo {
    color: var(--tema-visual);
        text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 20px white,
        0 0 40px white;
}


@media (max-width: 1180px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
    }

    .contenedor-navegador a {
        font-size: 18px;
    }

    .contenedor-imagen .img {
        width: 80px;
    }

    .contenedor-navegador {
        display: none;
        flex-direction: column;
        background-color: var(--backgroung-header);
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        gap: 20px;
    }

    .header .btn-menu {
        display: block;

        div {
            display: block;
        }
    }

}

.boton-hamburguesa {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.linea {
  width: 2rem;
  height: 0.25rem;
  background: #ffffff;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

@media (max-width: 1230px) {
  

  .boton-hamburguesa {
    display: flex;
  }


  .contenedor-navegador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0a0a0ac0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-top: 4rem;
    gap: 2rem; 
    

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 5;
  }


  .menu-activo {
    transform: translateX(0);
  }


  .link {
    font-size: 1.5rem;
  }


  .boton-hamburguesa.abierto .linea:nth-child(1) {
    transform: rotate(45deg);
  }
  .boton-hamburguesa.abierto .linea:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }
  .boton-hamburguesa.abierto .linea:nth-child(3) {
    transform: rotate(-45deg);
  }
}